<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <title>rhythm game songList</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        li {
            transition: all 0.5s;
        }

        li.selected {
            background-color: #800000;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        let songs;
        let allSongs;
        let songIndex = 0;
        let beatmap;
        let beatmapIndex = 0;
        let songBeatmapSize = 4;
        //음악재생 관련 변수들
        let bgm = {
            audio: new Audio(),
            play: function () {
                if (bgm.audio.paused) {
                    bgm.audio.play();
                    bgm.updateMusicProgress(songs[songIndex].songName);
                    $("#progressBar").addClass("progress-bar-animated");
                }
            },
            pause: function () {
                if (bgm.audio.paused == false) {
                    bgm.audio.pause();
                    $("#progressBar").removeClass("progress-bar-animated");
                }
            },
            stop: function () {
                bgm.pause();
                bgm.audio.currentTime = 0;
                $("#progressBar").width(`0%`);
            },
            setVolume: function (val) {
                bgm.audio.volume = val / 100;
            },
            changeMusic: function (beforeSongName) {
                //현재 검색결과가 없다면 재생 멈춤.
                if (songs.length == 0) {
                    bgm.audio.stop();
                    return;
                }
                //현재 검색결과가 없거나 다른 노래로 바뀌었다면 노래재생 안함.
                if ((songs.length == 0) || (!beforeSongName))
                    return;
                else if (beforeSongName != songs[songIndex].songName)
                    return;
                //src바꾸고 로드하고 재생.
                bgm.audio.src = `/songs/${songs[songIndex].songName}/${songs[songIndex].AudioFilename}`;
                bgm.audio.play();
                bgm.updateMusicProgress(songs[songIndex].songName);
            },
            updateMusicProgress: function (beforeSongName) {
                // 곡이 멈췄을 때
                if (bgm.audio.paused)
                    return;
                // 검색으로 인해 아무런 곡이 없을 때
                if (songs.length == 0)
                    return;
                // 곡이 바뀌었을 때
                if (beforeSongName != songs[songIndex].songName)
                    return;
                $("#progressBar").text(`${parseInt(bgm.audio.currentTime)}/${parseInt(bgm.audio.duration)}`);
                $("#progressBar").width(`${100 * bgm.audio.currentTime / bgm.audio.duration}%`);
                setTimeout(bgm.updateMusicProgress, 1000, songs[songIndex].songName);
            }
        }
        function playRhythmGame() {
            let songId = $(`#songIndex${songIndex}`).attr('data-songId');
            let beatmapId = $(`#beatmapIndex${beatmapIndex}`).attr('data-beatmapId');
            location.href = `/playRhythmGame/${songId}/${beatmapId}`;
        }
        function getAllSongs() {
            $.ajax({
                url: `getAllSongs`,
                type: `get`,
                success: function (data) {
                    // indexedDB에 저장함.
                    console.log(data);
                    saveToDB(data);
                },
                error: function (error) {
                    console.error(error);
                }
            })
        }
        function saveToDB(data) {
            const request = indexedDB.open("rhythm");
            let db;
            request.onerror = (event) => {
                console.error(`Database error: ${event.target.errorCode}`);
            }
            request.onupgradeneeded = (event) => {
                db = event.target.result;
                const songObjectStore = db.createObjectStore("songs", { keyPath: "id" });
                songObjectStore.createIndex("songName", "songName", { unique: true });
                const beatmapObjectStore = db.createObjectStore("beatmap", { keyPath: "id" });
                beatmapObjectStore.createIndex("beatmapName", "beatmapName", { unique: true });
                const noteInfoObjectStore = db.createObjectStore("noteInfo", { keyPath: "path" });
            }
            request.onsuccess = (event) => {
                db = event.target.result;
                const transaction = db.transaction(["songs", "beatmap"], "readwrite");
                const songObjectStore = transaction.objectStore("songs");
                songObjectStore.clear();
                data.songs.forEach((song) => {
                    const request = songObjectStore.add(song);
                    request.onerror = (event) => {
                        console.log(`song 데이터 넣기 에러`);
                    }
                })
                const beatmapObjectStore = transaction.objectStore("beatmap");
                beatmapObjectStore.clear();
                data.beatmap.forEach((val) => {
                    const request = beatmapObjectStore.add(val);
                    request.onerror = (event) => {
                        console.log(`beatmap 데이터 넣기 에러`);
                    }
                })
                alert("전체 곡 가져오기 / 최신화를 하였습니다");
                showAllLists();
            };
        }
        function showAllLists() {
            const request = indexedDB.open("rhythm");
            let db;
            request.onerror = (event) => {
                console.error(`Database error: ${event.target.errorCode}`);
            }
            request.onupgradeneeded = (event) => {
                db = event.target.result;
                const songObjectStore = db.createObjectStore("songs", { keyPath: "id" });
                songObjectStore.createIndex("songName", "songName", { unique: true });
                const beatmapObjectStore = db.createObjectStore("beatmap", { keyPath: "id" });
                beatmapObjectStore.createIndex("beatmapName", "beatmapName", { unique: true });
                const noteInfoObjectStore = db.createObjectStore("noteInfo", { keyPath: "path" });
            }
            request.onsuccess = (event) => {
                db = event.target.result;
                const transaction = db.transaction(["songs", "beatmap"], "readonly");
                const songObjectStore = transaction.objectStore("songs");
                const beatmapObjectStore = transaction.objectStore("beatmap");
                songs = songObjectStore.getAll();
                songs.onsuccess = (event) => {
                    if (event.target.result.length == 0) {
                        alert("songs 데이터가 없습니다. 곡 갱신하기 버튼을 눌러주세요");
                        return;
                    }
                    allSongs = event.target.result;
                    songs = allSongs;
                    listSongList();
                }
                beatmap = beatmapObjectStore.getAll();
                beatmap.onsuccess = (event) => {
                    beatmap = event.target.result;
                    listBeatmapKeySizeAndLevel(0);
                }
            };
        }
        function listSongList() {
            $("#songCount").text(`곡 리스트: ${songs.length}곡`);
            $("#songLists").empty();
            //첫곡은 selected 클래스를 부여함.
            songIndex = 0;
            for (let i = 0; i < 11; i++) {
                if (songs.length <= i)
                    break;
                if (i == 0) {
                    $("#songLists").append(`<li class="list-group-item m-0 p-0 d-flex align-items-center selected" id="songIndex${0}" data-songId="${songs[0].id}">
                        <img style="height:70px" src="/songs/${songs[0].songName}/${songs[0].backgroundImage}">
                        <div>
                            ${songs[0].songName.substring(0, songs[0].songName.search('-'))} [${songs[0].duration}s]
                            <div class="fw-bold">${songs[0].songName.substring(songs[0].songName.search('-') + 1)}</div>
                        </div>
                    </li>`)
                }
                else {
                    $("#songLists").append(`<li class="list-group-item m-0 p-0 d-flex align-items-center" id="songIndex${i}" data-songId="${songs[i].id}">
                        <img style="height:70px" src="/songs/${songs[i].songName}/${songs[i].backgroundImage}">
                        <div>
                            ${songs[i].songName.substring(0, songs[i].songName.search('-'))} [${songs[i].duration}s]
                            <div class="fw-bold">${songs[i].songName.substring(songs[i].songName.search('-') + 1)}</div>
                        </div>
                    </li>`)
                }
            }
            songInfoChange(0);
        }
        function songInfoChange(songIndex) {
            //곡 상세 정보 변경
            if (songs.length == 0) {
                $("#bigImg").attr('src', `https://img1.daumcdn.net/thumb/S56x56/?scode=mtistory2&fname=https%3A%2F%2Ftistory1.daumcdn.net%2Ftistory%2F4106079%2Fattach%2Fab2b0b1cc931435caf3e524b9f5ec7e0`);
                $("#osuNum").text(`곡 검색 결과가 없습니다.`);
                $("#madeBy").text(`곡 검색 결과가 없습니다.`);
                $("#infoSongName").text(`곡 검색 결과가 없습니다.`);
                $("#songDuration").text(`곡 검색 결과가 없습니다.`);
                $("#youtubeVideoId").text(`곡 검색 결과가 없습니다.`);
                $("#songTag").text(`곡 검색 결과가 없습니다.`);
            }
            else {
                $("#bigImg").attr('src', `/songs/${songs[songIndex].songName}/${songs[songIndex].backgroundImage}`);
                $("#osuNum").text(`osu숫자: ${songs[songIndex].songName.match(/[0-9]+/)[0]}`);
                $("#madeBy").text(`작곡가 or 만든이: ${songs[songIndex].songName.match(/[^0-9-]+/)[0]}`);
                $("#infoSongName").text(`제목: ${songs[songIndex].songName.match(/(?<=-)[\s\S]+/)[0]}`);
                $("#songDuration").text(`곡 길이: ${parseInt(songs[songIndex].duration / 60)}분${songs[songIndex].duration % 60}초 (${songs[songIndex].duration}초)`);
                $("#youtubeVideoId").text(`유튜브videoId: ${songs[songIndex].youtubeVideoId}`);
                $("#songTag").text(`태그: ${songs[songIndex].Tags}`);
            }
        }
        function listBeatmapKeySizeAndLevel(songIndex) {
            // 비트맵들을 키 사이즈와 난이도를 화면에 리스트로 넣는다.
            beatmapIndex = 0;
            $("#beatmapLists").empty();
            //song이 없다면 리턴
            if (songs.length == 0)
                return;

            let filteredBeatmap = beatmap.filter((b) => {
                //수정요망.
                return b.songId == $(`#songIndex${songIndex}`).attr('data-songId');
            })
            filteredBeatmap.sort((a, b) => {
                return (a.keySize - b.keySize) || (a.level - b.level);
            })
            songBeatmapSize = filteredBeatmap.length;
            filteredBeatmap.forEach((b, idx) => {
                if (idx == 0)
                    $("#beatmapLists").append(`<li class="list-group-item flex-fill selected" id="beatmapIndex${idx}" data-beatmapId="${b.id}">${b.keySize}키 ${b.level}</li>`);
                else
                    $("#beatmapLists").append(`<li class="list-group-item flex-fill" id="beatmapIndex${idx}" data-beatmapId="${b.id}">${b.keySize}키 ${b.level}</li>`);
            })
        }
        function changeNoteSpeed(val) {
            $("#noteSpeedNum").html(val);
            localStorage.setItem("noteSpeed", val);
        }
        function changeCanvasOpacity(val) {
            $("#canvasOpacityNum").html(val);
            localStorage.setItem("canvasOpacity", val);
        }
        function changeVolume(val) {
            $("#volumeNum").html(val);
            localStorage.setItem("volume", val);
            bgm.setVolume(val);
        }
        function filterSongsBySearch(val) {
            //allSongs에서 songs로 검색어를 이용해 곡들을 필터한다.
            if (val == "") {
                songs = allSongs;
            }
            else {
                // 띄어쓰기가 아닌 단어들로 나눈다.
                words = val.match(/[\S]+/g);
                // songName과 Tags중에 단어가 포함되면 결과에 포함시킨다.
                songs = allSongs.filter((s) => {
                    let tags = s.Tags.match(/[\S]+/g);
                    for (let i = 0; i < words.length; i++) {
                        if (s.songName.toLowerCase().includes(words[i].toLowerCase()))
                            return true;
                        for (let j = 0; j < tags.length; j++) {
                            if (tags[j].toLowerCase().includes(words[i].toLowerCase()))
                                return true;
                        }
                    }
                    return false;
                })
            }
            listSongList();
            listBeatmapKeySizeAndLevel(0);
            if (songs.length > 0)
                setTimeout(bgm.changeMusic, 800, songs[songIndex].songName);
            else
                bgm.stop();
        }
        function addSong() {
            console.log("곡 추가 기능 만들기");
            let url = $("#addSongInput").val();
            // regex로 링크가 이상한지 검사
            if (url.search(/^https:\/\/api.nerinyan.moe\/d\/[0-9]+$/) == -1) {
                alert("유효하지 않은 링크입니다.\n https://api.nerinyan.moe/d/숫자들 \n 형식으로 입력해주세요.");
                return;
            }
            // 링크가 안이상하면 서버에 전송
            $.ajax({
                url: `/addSong/${url.match(/[0-9]+/)[0]}`,
                type: "get",
                async: true,
                success: function (data) {
                    alert(data);
                },
                error: function (error) {
                    console.log(error);
                }
            });
            // 서버에서 오류 또는 성공 응답 받기
        }
        //document가 로드되면.
        $(function () {
            //indexedDB에서 곡들을 보여줌
            showAllLists();
            //설정창에 필요한것들
            let noteSpeed = localStorage.getItem("noteSpeed");
            let canvasOpacity = localStorage.getItem("canvasOpacity");
            let volume = localStorage.getItem("volume");
            // localStorage에 값이 없다면 새로 저장한다. 
            if (noteSpeed == null) {
                localStorage.setItem("noteSpeed", "1");
            }
            // 값이 있다면 해당 값을 화면에 출력
            else {
                $("#noteSpeedNum").html(noteSpeed);
                $("#noteSpeed").val(noteSpeed);
            }
            //투명도설정 초기값
            if (canvasOpacity == null) {
                localStorage.setItem("canvasOpacity", "1");
            }
            else {
                $("#canvasOpacityNum").html(canvasOpacity);
                $("#canvasOpacity").val(canvasOpacity);
            }
            //볼륨설정 초기값
            if (volume == null) {
                localStorage.setItem("volume", "100")
            }
            else {
                $("#volumeNum").html(volume);
                $("#volume").val(volume);
                bgm.setVolume(volume);
            }
            //곡 검색창 이벤트 리스너 등록.
            $("#songSearch").on('keyup', function (event) {
                //엔터치면 포커스가 풀림.
                if (event.key == "Enter") {
                    $("#songSearch").blur();
                }
                else
                    filterSongsBySearch(event.target.value);
            });
            //키보드 이벤트 리스너 등록.
            $(document).on('keydown', function (event) {
                //곡 검색 창이라면 아무일도 일어나지 않음.
                if (event.target.id == "songSearch") {
                    return;
                }
                //곡 선택 위 아래
                if (event.key == "ArrowDown") {
                    let max = songs.length - 1;
                    //최대값이면 변화 없음
                    if (songIndex == max)
                        return;
                    //비트맵 선택 인덱스 변경
                    beatmapIndex = 0;
                    //클래스 바꾸기.
                    $(`#songIndex${songIndex}`).removeClass("selected");
                    songIndex += 1;
                    $(`#songIndex${songIndex}`).addClass("selected");
                    // 6이상 (max-5)이하면 리스트 추가 제거
                    if (6 <= songIndex && songIndex <= (max - 5)) {
                        let nextIdx = songIndex + 5;
                        $(`#songIndex${songIndex - 6}`).remove();
                        $("#songLists").append(`<li class="list-group-item m-0 p-0 d-flex align-items-center" id="songIndex${nextIdx}" data-songId="${songs[nextIdx].id}">
                            <img style="height:70px" src="/songs/${songs[nextIdx].songName}/${songs[nextIdx].backgroundImage}">
                            <div>
                                ${songs[nextIdx].songName.substring(0, songs[nextIdx].songName.search('-'))} [${songs[nextIdx].duration}s]
                                <div class="fw-bold">${songs[nextIdx].songName.substring(songs[nextIdx].songName.search('-') + 1)}</div>
                            </div>
                        </li>`)
                    }
                    songInfoChange(songIndex);
                    listBeatmapKeySizeAndLevel(songIndex);
                    if (songs.length > 0)
                        setTimeout(bgm.changeMusic, 800, songs[songIndex].songName);
                }
                else if (event.key == "ArrowUp") {
                    let max = songs.length - 1;
                    //최소값이면 변화 없음
                    if (songIndex == 0)
                        return;
                    //비트맵 선택 인덱스 변경
                    beatmapIndex = 0;
                    //클래스 바꾸기.
                    $(`#songIndex${songIndex}`).removeClass("selected");
                    songIndex -= 1;
                    $(`#songIndex${songIndex}`).addClass("selected");
                    // 5이상 (max-6)이하면 리스트 추가 제거
                    if (5 <= songIndex && songIndex <= (max - 6)) {
                        let nextIdx = songIndex - 5;
                        $(`#songIndex${songIndex + 6}`).remove();
                        $("#songLists").prepend(`<li class="list-group-item m-0 p-0 d-flex align-items-center" id="songIndex${nextIdx}" data-songId="${songs[nextIdx].id}">
                            <img style="height:70px" src="/songs/${songs[nextIdx].songName}/${songs[nextIdx].backgroundImage}">
                            <div>
                                ${songs[nextIdx].songName.substring(0, songs[nextIdx].songName.search('-'))} [${songs[nextIdx].duration}s]
                                <div class="fw-bold">${songs[nextIdx].songName.substring(songs[nextIdx].songName.search('-') + 1)}</div>
                            </div>
                        </li>`)
                    }
                    songInfoChange(songIndex);
                    listBeatmapKeySizeAndLevel(songIndex);
                    if (songs.length > 0)
                        setTimeout(bgm.changeMusic, 800, songs[songIndex].songName);
                }
                //비트맵 선택 좌 우
                else if (event.key == "ArrowLeft") {
                    //처음 비트맵이 선택되어있다면 아무것도 하지 않음.
                    if (beatmapIndex == 0)
                        return;
                    //클래스 바꾸기
                    $(`#beatmapIndex${beatmapIndex}`).removeClass("selected");
                    beatmapIndex -= 1;
                    $(`#beatmapIndex${beatmapIndex}`).addClass("selected");
                }
                else if (event.key == "ArrowRight") {
                    //마지막 비트맵이 선택되어있다면 아무것도 하지 않음.
                    if (beatmapIndex == (songBeatmapSize - 1))
                        return;
                    //클래스 바꾸기
                    $(`#beatmapIndex${beatmapIndex}`).removeClass("selected");
                    beatmapIndex += 1;
                    $(`#beatmapIndex${beatmapIndex}`).addClass("selected");
                }
                //엔터
                else if (event.key == "Enter") {
                    playRhythmGame();
                }
            });
        });
    </script>
</head>

<body>
    <div class="container-fluid">

        <div class="row text-bg-secondary p-1 mb-1">
            <div class="col-2">
                <img src="https://osu.ppy.sh/images/favicon/android-chrome-192x192.png" alt="Logo" width="32">
                <span class="align-middle">osu mania 리듬게임</span>
            </div>

            <div class="col-4 d-flex align-items-center">
                <div class="btn-group me-1">
                    <button type="button" class="btn btn-outline-warning py-1 px-2 fs-5" onclick="bgm.play();">
                        <i class="bi bi-play-fill"></i>
                    </button>
                    <button type="button" class="btn btn-outline-warning py-1 px-2 fs-5" onclick="bgm.pause();">
                        <i class="bi bi-pause-fill"></i>
                    </button>
                    <button type="button" class="btn btn-outline-warning py-1 px-2 fs-5" onclick="bgm.stop();">
                        <i class="bi bi-stop-fill"></i>
                    </button>
                </div>
                <div class="progress flex-fill" role="progressbar" style="height: 25px;">
                    <div class="progress-bar progress-bar-striped text-bg-warning" id="progressBar" style="width:50%">현재
                        초/전체 초</div>
                </div>
            </div>

            <div class="col-2">
                <input id="songSearch" class="form-control" type="text" placeholder="곡 검색하기">
            </div>

            <div class="col-4 d-flex justify-content-end">
                <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                    data-bs-target="#myModal">도움말</button>
                <!-- The Modal -->
                <div class="modal fade" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">도움말</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">
                                <p>전체 화면 토글키: F11</p>
                                <p>곡 선택: 방향키 위 아래</p>
                                <p>난이도 선택: 방향키 왼쪽 오른쪽</p>
                                <p>플레이: 엔터</p>
                                <p>곡 검색하는법: osu숫자 or 작곡가 or 제목 or 태그를 검색창에 입력</p>
                                <p>4키: dfjk</p>
                                <p>5키: df jk</p>
                                <p>6키: sdfjkl</p>
                                <p>7키: sdf jkl</p>
                                <p>8키: asdfjkl;</p>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary me-2" data-bs-toggle="offcanvas"
                    data-bs-target="#addSongOffcanvas" aria-controls="addSongOffcanvas">곡 추가</button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="addSongOffcanvas"
                    aria-labelledby="addSongOffcanvasLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="addSongOffcanvasLabel">곡 추가하기</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <!--설명-->
                        <p>방법:</p>
                        <p>
                            <a href="https://nerinyan.moe/main?m=3&s=ranked&sort=plays_desc&q=" target="_blank">이
                                사이트</a>
                            에 들어가서 (랭크된 노래들 중에서) 원하는 노래를 고른다.
                        </p>
                        <p>곡의 왼쪽 아래를 보면 "Copy download URL"버튼이 있다. 이 버튼을 누른다.</p>
                        <p>아래의 입력칸에 붙여넣기로 링크를 넣는다. 그리고 곡 추가 버튼을 누른다.</p>
                        <input id="addSongInput" class="form-control my-2" type="text" placeholder="링크를 입력하세요">
                        <button class="btn btn-primary" onclick="addSong()">곡 추가하기</button>
                    </div>
                </div>

                <button type="button" class="btn btn-primary me-2" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">설정</button>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">설정</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <!--위에서 내려오는 속도-->
                        <label for="noteSpeed" class="form-label">노트가 위에서 내려오는 속도: </label>
                        <a id="noteSpeedNum">1</a>
                        <input type="range" class="form-range" min="0.3" max="3" step="0.1" id="noteSpeed" value="1"
                            oninput="changeNoteSpeed(this.value)">
                        <!--canvas 투명도-->
                        <label for="canvasOpacity" class="form-label">canvas 투명도(1에 가까울수록 선명함): </label>
                        <a id="canvasOpacityNum">1</a>
                        <input type="range" class="form-range" min="0.2" max="1" step="0.05" id="canvasOpacity"
                            value="1" oninput="changeCanvasOpacity(this.value)">
                        <!--볼륨 조절-->
                        <label for="volume" class="form-label">볼륨 조절: </label>
                        <a id="volumeNum">100</a>
                        <input type="range" class="form-range" min="0" max="100" step="5" id="volume" value="100"
                            oninput="changeVolume(this.value)">
                    </div>
                </div>
                <button type="button" class="btn btn-primary" onclick="getAllSongs()">전체 곡 가져오기 / 최신화</button>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div id="songs" class="card">
                    <div class="card-header">
                        <h1 id="songCount">곡 리스트: 0곡</h1>
                    </div>
                    <ul class="list-group list-group-flush" id="songLists">
                        <li class="list-group-item m-0 p-0">
                            <img style="height:70px" src="/songs/120289 Dj Mashiro - Prismatic Lollipops/37945384.png">
                            노래제목
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-6" id="songInfo">
                <div class="card">
                    <div class="card-header">
                        <h1>곡정보 & 난이도 선택</h1>
                    </div>
                    <img style="width:100%; height:530px; object-fit: cover;" class="card-img-top"
                        src="/songs/120289 Dj Mashiro - Prismatic Lollipops/37945384.png" id="bigImg">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item" id="osuNum">osu숫자:</li>
                        <li class="list-group-item" id="madeBy">만든이:</li>
                        <li class="list-group-item" id="infoSongName">제목:</li>
                        <li class="list-group-item" id="songDuration">곡 길이:</li>
                        <li class="list-group-item" id="youtubeVideoId">유튜브videoId:</li>
                        <li class="list-group-item" id="songTag">태그:</li>
                    </ul>
                    <ul class="list-group list-group-horizontal" id="beatmapLists">
                        <li class="list-group-item flex-fill" data-beatmapId="1">4키 1.12난이도</li>
                        <li class="list-group-item flex-fill" data-beatmapId="2">2.12</li>
                        <li class="list-group-item flex-fill" data-beatmapId="3">3.12</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

</html>